
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/images/cuisine2a.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Restaurant Table Booking</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 
     <ul class="nav navbar-nav">
       <li><a href="/">Home</a></li>
          </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br><br><br>

<div id="hello" class="parallax"></div>

<div id="othdiv">
    <div id="text">
        <h1><a href='/Indian'>Indian Cuisine</a></h1>
        <br>
        The Flavour Bible with Andrew Dornenburg. “Number one: ingredients, and number two: techniques.” 
        According to Indian Food Theory, our food has 6 different flavours: sweet, salty, bitter, sour, astringent and spicy.
        A proper Indian meal is a perfect balance of all 6 flavours, with one or two flavours standing out. So the next time you eat your meal, you know how to judge it.Indian food, however, breaks the mould in comparison to Western cuisine.
    </div>
</div>

<div id="hello1" class="parallax"></div>

<div id="othdiv1">
    <div id="text1">
        <h1>Chinese Cuisine</h1><br>
        A typical Chinese meal will have two things - a carbohydrate or starch like noodles, rice or buns, and accompanying stir fries or dishes of veggies, fish and meat. They use a lot of fresh vegetables like mushroom, water chestnuts, bamboo and even tofu. In North China, wheat-based accompaniments like noodles and steamed buns dominate the table, in contrast to South China where rice is a favourite. The short-grain sticky rice, grown throughout Southern China, is absolutely irresistible.
    </div>
</div>


<div id="hello2" class="parallax"></div>

<div id="othdiv2">
    <div id="text2">
        <h1>French Cuisine</h1><br>
        In the western world, France is virtually synonymous with gastronomy. The country has a rich culinary history, from rustic peasant foods to the most technical haute cuisine masterpieces. We've collected our favorite French recipes from across the country.

        For breakfast, bake buttery chocolate croissants, or for something more filling, try quiche Lorraine. Then at lunch, try a sandwich like a pan bagnat with tuna and olives, or a decadent croque tartine parisienne, an open-face ham and cheese sandwich topped with béchamel sauce.
    </div>
</div>

</body>
</html>
